.header {
    background-color: #f1f1f1;
    padding: 100px;
    text-align: center;
    background-image: url(computer.jpeg);
    color: white;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
